/*Variables*/ /*condicionales*/
body {
  background-color: black;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  grid-template-areas: "header" "main" "footer";
}

/*Fuente*/
@font-face {
  font-family: "SilkyQueen";
  src: url(/fonts/SilkyQueen.otf);
}
/* Cabecera */
#header {
  background-color: beige;
  color: rgba(78, 35, 35, 0.685);
  grid-area: header;
  font-family: "SilkyQueen";
  width: 100%;
  height: 150px;
}
#header .fixed-top {
  background-color: beige;
  height: 150px;
}
#header .container {
  margin-top: 20px;
}
#header header h1 {
  font-size: 50px;
  font-weight: 500;
  text-align: left;
  margin: 15px;
}
#header header h2 {
  font-size: 30px;
  font-weight: 200;
  text-align: left;
  margin: 15px;
}
#header nav {
  display: flex;
  justify-content: center;
  align-items: center;
}
#header a {
  color: rgba(78, 35, 35, 0.685);
  font-family: "SilkyQueen";
  text-decoration: none;
  padding: 20px;
  font-size: 20px;
}

/*Contenido principal*/
#main {
  background-color: white;
  background-position: center;
  grid-area: main;
}
#main .container-fluid {
  margin-top: 50px;
}
#main .carousel-item {
  align-items: center;
  justify-content: center;
}
#main .portada2 {
  padding-left: 150px;
  padding-right: 150px;
  margin: 25px;
  display: flex;
  flex-direction: row;
  align-items: end;
  justify-content: end;
}
#main .portada2 img {
  height: 400px;
}
#main .portada2 p {
  font-size: 35px;
}
#main .portada3 {
  padding-left: 150px;
  padding-right: 150px;
  margin: 25px;
  display: flex;
  flex-direction: row;
}
#main .portada3 img {
  height: 400px;
  align-items: center;
  justify-content: center;
}
#main .portada3 p {
  font-size: 35px;
}
#main .libros {
  background-color: bisque;
  width: 250px;
  height: 375px;
  margin: 30px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-style: hidden;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
#main .libros img {
  height: 160px;
}
#main .libros h3 {
  height: 40px;
  padding: 10px;
  font-size: 20px;
}
#main .libros p,
#main .libros h4,
#main .libros button {
  height: 40px;
  padding: 10px;
  font-size: 15px;
  border-radius: 2px;
}
#main .libros button:hover {
  transform: scale(1.1);
  box-shadow: 0 0 0 1px rgb(0, 0, 0);
}

/*Pie de pagina*/
#footer {
  background-color: beige;
  width: 100%;
  height: 162px;
  grid-area: footer;
}
#footer .pagos {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#footer .pagos p {
  margin-top: 16px;
  color: rgba(78, 35, 35, 0.685);
}
#footer .pagos img {
  padding: 5px;
}
#footer .contacto {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#footer .contacto p {
  margin-top: 16px;
  color: rgba(78, 35, 35, 0.685);
}
#footer nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}
#footer nav a {
  padding: 10px;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 20px;
  margin-right: 20px;
}

/*media queries*/
@media (max-width: 576px) {
  #header {
    height: 250px;
  }
  #header .fixed-top {
    height: 250px;
  }
  #header .container {
    height: 250px;
  }
  #header nav {
    align-content: center;
    justify-content: center;
  }
  #main .col-12col-lg-4 {
    width: 150px;
    height: 150px;
  }
  #footer {
    height: 448px;
  }
  #footer .container {
    height: 448px;
  }
}

/*# sourceMappingURL=estilos.css.map */
