/*Variables*/ /*generales*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  grid-template-areas: "header" "main" "footer";
}

/*Fuente*/
@font-face {
  font-family: "SilkyQueen";
  src: url(/fonts/SilkyQueen.otf);
}
/* Cabecera */
#header {
  background-color: beige;
  color: rgba(78, 35, 35, 0.685);
  grid-area: header;
  font-family: "SilkyQueen";
  width: 100%;
  height: 150px;
}
#header .fixed-top {
  background-color: beige;
  height: 150px;
}
#header .container {
  margin-top: 20px;
}
#header header h1 {
  font-size: 50px;
  font-weight: 500;
  text-align: left;
  margin: 15px;
}
#header header h2 {
  font-size: 30px;
  font-weight: 200;
  text-align: left;
  margin: 15px;
}
#header nav {
  display: flex;
  justify-content: center;
  align-items: center;
}
#header a {
  color: rgba(78, 35, 35, 0.685);
  font-family: "SilkyQueen";
  text-decoration: none;
  padding: 20px;
  font-size: 20px;
}
#header a:hover {
  transform: scale(1.2);
}

/*Contenido principal*/
#main {
  background-color: white;
  background-position: center;
  grid-area: main;
}
#main .container-fluid {
  margin-top: 50px;
}
#main .carousel-item {
  justify-content: center;
  align-items: center;
}
#main .titulos_portada, #main .portada3 p, #main .portada2 p {
  font-size: 30px;
}
#main .portada2 {
  padding-left: 150px;
  padding-right: 150px;
  margin: 25px;
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: end;
}
#main .portada2 img {
  height: 400px;
}
#main .portada3 {
  padding-left: 150px;
  padding-right: 150px;
  margin: 25px;
  display: flex;
  flex-direction: row;
}
#main .portada3 img {
  height: 400px;
  justify-content: center;
  align-items: center;
}
#main .libros {
  background: linear-gradient(to right, rgb(236, 236, 164), rgb(236, 236, 202));
  width: 250px;
  height: 375px;
  margin: 30px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-style: hidden;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
#main .libros img {
  height: 160px;
}
#main .libros h3 {
  height: 40px;
  padding: 10px;
  font-size: 20px;
}
#main .libros p,
#main .libros h4,
#main .libros button {
  height: 40px;
  padding: 10px;
  font-size: 15px;
  border-style: hidden;
  border: none;
  border-radius: 10px;
  transition: width 5s;
}
#main .libros button:hover {
  transform: translate(3px, 3px);
  box-shadow: 0 0 0 1px rgb(184, 156, 98);
  cursor: pointer;
}
#main .formulario {
  background-image: url(../img/fondo\ contacto.jpg);
  margin-top: 30px;
  margin-bottom: 30px;
  height: 1200px;
  width: 900px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#main .formulario section {
  margin-top: 20px;
}
#main .formulario .label {
  margin: 10px;
}
#main .formulario button {
  height: 40px;
  padding: 10px;
  font-size: 15px;
  border-style: hidden;
  border: none;
  border-radius: 10px;
  transition: width 5s;
}
#main .formulario button:hover {
  transform: translate(3px, 3px);
  box-shadow: 0 0 0 1px rgb(184, 156, 98);
  cursor: pointer;
}
#main .row {
  justify-content: center;
  align-items: center;
}

/*Pie de pagina*/
#footer {
  background-color: beige;
  width: 100%;
  height: 162px;
  grid-area: footer;
}
#footer .pagos {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#footer .pagos p {
  margin-top: 16px;
  color: rgba(78, 35, 35, 0.685);
}
#footer .pagos img {
  padding: 5px;
}
#footer .contacto {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#footer .contacto p {
  margin-top: 16px;
  color: rgba(78, 35, 35, 0.685);
}
#footer nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}
#footer nav a {
  padding: 10px;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 20px;
  margin-right: 20px;
}

/*media queries*/
@media (max-width: 420px) {
  #header {
    width: 420px;
    height: 445px;
  }
  #header .fixed-top {
    height: 445px;
  }
  #header .container {
    height: 445px;
  }
  #header nav {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
  }
  #main {
    width: 420px;
  }
  #main .col-12col-lg-4 {
    width: 150px;
    height: 150px;
  }
  #footer {
    width: 420px;
    height: 448px;
  }
  #footer .container {
    height: 448px;
  }
}
/*condicionales*/
#header {
  background-color: beige;
}
#header .fixed-top {
  background-color: beige;
}

#footer {
  background-color: beige;
}

/*maps*/
.linea1:hover {
  background-color: rgb(188, 190, 158);
}

.linea2:hover {
  background-color: rgb(206, 206, 200);
}

.linea3:hover {
  background-color: rgb(236, 236, 170);
}

/*# sourceMappingURL=estilos.css.map */
