/*generales*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    display: grid;
    grid-template-areas:
    "header"
    "main"
    "footer"
    ;
}
/*Fuente*/
@font-face {
    font-family: "Amanda";
    src: url(../fonts/ananda_2/Ananda\ Personal\ Use.ttf);
}
@font-face {
    font-family: "Roboto";
    src: url(../fonts/roboto/Roboto-BoldItalic.ttf);
}
@mixin items-content($ejeX,$ejeY){
    justify-content: $ejeX;
    align-items: $ejeY;
}