/* Cabecera */
#header{
    width: $full-width;
    height: 130px;
    background-color: $fondo-primario;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    color: $color;
    grid-area: header;
    font-family: "Amanda";
    .container-fluid{
        background-color: $fondo-primario;
        color: $color;
    }
    .item1{
        .navbar-brand{
            display: flex;
            @include items-content(center, none);
            background-color: $fondo-primario;
            img{
                box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
                border-radius: 10px;
            }
        }
    }
    .item2{
        display: flex;
        @include items-content(none, center);
        h1{
            margin: 0px;
            font-size: 50px;
            font-weight: 500; 
        }
    }
    .item3{
        li{
            padding: 15px;
        }
        a,
        .busqueda
        .busqueda2{
            font-size: 20px;
            font-weight: 300;
        }
        form{
            margin-right: 80px;
        }
    }
}