/*Contenido principal*/
#main{
    background-color: white;
    background-position: center;
    grid-area: main;
    @mixin items-content($ejeX,$ejeY){
        justify-content: $ejeX;
        align-items: $ejeY;
    }
    .container-fluid{
        margin-top: 50px;
    }
    .carousel-item{
        @include items-content(center, center);
    }
    .titulos_portada{
        font-size: 65px;
    }
    .portada2{
        padding-left: 150px;
        padding-right: 150px;
        margin: 25px;
        display: flex;
        flex-direction: row;
        @include items-content(end, end);
        img{
            height: 400px;
        }
        p{
            @extend .titulos_portada;
        }
    }
    .portada3{
        padding-left: 150px;
        padding-right: 150px;
        margin: 25px;
        display: flex;
        flex-direction: row;
        img{
            height: 400px;
            @include items-content(center, center);
        }
        p{
            @extend .titulos_portada;
        }
    }
    .libros{
        background: linear-gradient(to right, rgb(236, 236, 164),rgb(236, 236, 202));
        width: 250px;
        height: 375px;
        margin: 30px;
        padding: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        border-style: hidden;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        img{
            height: 160px;
        }
        h3{
            height: 40px;
            padding: 10px;
            font-size: 20px;
        }
        p,
        h4,
        button{
            height: 40px;
            padding: 10px;
            font-size: 15px;
            border-style: hidden;
            border: none;
            border-radius: 10px;
            transition: width 2s;
        }
        button:hover{
        transform: translate(3px, 3px);
        box-shadow: 0 0 0 1px rgb(184, 156, 98);
        cursor: pointer;
        }
    }
}