/*media queries*/

@media (max-width:420px){
    body{
        width: 100vh;
    }
    #header{
        width: 100vh;
        height: 180px;
        @mixin items-content($ejeX,$ejeY){
            justify-content: $ejeX;
            align-items: $ejeY;
        }
        .fixed-top{
            width: 100vh;
            height: 180px;
        }
        .container{
            height: 180px;
            text-align: center;
        }
        h1{
            font-size: 30px;
            font-weight: 500;
            margin: 15px;
            }
        h2{
            font-size: 18px;
            font-weight: 200;
            margin: 15px;
            }
        a{
            font-size: 10px;
        }
    }
    #main{
        width: 100vh;
        @mixin items-content($ejeX,$ejeY){
            justify-content: $ejeX;
            align-items: $ejeY;
        }
        .imgcarrusel{
            max-width: 420px;
            width: 100vh;
            }
        .container-fluid{
                width: 100vh;
            }
        .portada2,
        .portada3{
            img{
                height: 200px;
            }
            p{
                font-size: 12px;
            }
        }
        .libros{
            width: 150px;
            height: 225px;
            margin: 30px;
            padding: 10px;
            img{
                height: 96px;
            }
            h3{
                height: 24px;
                padding: 10px;
                font-size: 12px;
            }
            p,
            h4,
            button{
                height: 24px;
                padding: 10px;
                font-size: 7px;
            }
        }
    }
    #footer{
        width: 100vh;
        height: 300px;
        .container{
            height: 300px;
        }
        .pagos{
            img{
                width: 30px;
            }
            p{
                font-size: 10px;
            }
        }
        .contacto{
            img{
                width: 30px;
            }
            p{
                font-size: 10px;
            }
        }
        nav{
            a{
                width: 30px;
                margin: 10px;
            }
        }
    }
}