/*media queries*/


@media (max-width:420px){
    #header{
        width: 420px;
        height: 445px;
        @mixin items-content($ejeX,$ejeY){
            justify-content: $ejeX;
            align-items: $ejeY;
        }
        .fixed-top{
            height: 445px;
        }
        .container{
            height: 445px;
        }
        nav{
            display: flex;
            flex-direction: column;
            @include items-content(left, center);  
        }
    }
    #main{
        width: 420px;
        .col-12col-lg-4{
            width: 150px;
            height: 150px;
        }
    }
    #footer{
        width: 420px;
        height: 448px;
        .container{
            height: 448px;
        }
    }
}