/*Variables*/

$fondo-primario: beige;
$fondo-secundario: white;
$color:rgba(78, 35, 35, 0.685);
$full-width: 100%;
$full-height: 100%;
$gradiente: linear-gradient(to right, rgb(235, 235, 198),rgb(235, 235, 215));