.filtro{
    display: none;
}

.modalBusqueda {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #111111bd;
    display: flex;
    opacity: 0;
    pointer-events: none;
    transition: opacity .10s .01s;
    --transform: translateY(-100vh);
    --transition: transform .3s; 
}

.modalBusqueda--show {
    opacity: 1;
    pointer-events: unset;
    transition: opacity .2s;
    --transform: translateY(0);
    --transition: transform .3s .3s;
}  

.modalBusqueda__container {
    margin: 500;
    margin: auto;
    width: 70%;
    //max-width: 900px;
    max-height: 90%;
    background-color: $fondo-primario;
    border-radius: 6px;
    padding: 3em 2.5em;
    display: grid;
    gap: 1em;
    place-items: center;
    grid-auto-columns: 100%;
    transform: var(--transform);
    transition: var(--transition);
    user-select: none;
    display: flex;
}

.busqueda__contenedor {
    gap: 1rem;
    max-width: 60rem;
    margin: 60px auto;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: column;
    display: flex;
    .elementoEnContenedor {
        background-color: $fondo-secundario;
        border-radius: 10px;
        margin: 5px 0;
        padding: 5px 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        .imgBusqueda,
        .tituloBusqueda,
        .subtituloBusqueda{
            margin: 5px;
            width: 160px;
        }
    }
}